.root{
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: #ca3c3c;
}

.Button{
    -fx-background-color: #1bcf1e;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
}