.modal-overlay {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-alignment: center;
}

.modal-card {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-spacing: 15;
    -fx-max-width: 400;
    -fx-background-radius: 10;
}